/* 样式重置 */
*{
	margin: 0px;
	padding: 0px;
}

a{
	text-decoration: none;
}

ul{
	list-style-type: none;
}

img{
	border: 0px;
}
.wrap{
	width: 1100px;     /* 标准宽度 */
	margin: 0 auto;    /* div水平居中 */
}
/**********header开始**********/
#header{	
	height: 76px;
	line-height: 76px;
	/*border: 1px solid black;*/
	/*background: #ccc;*/
}
#header .logo{
	margin-top: 10px;  /* 使图片居中 */ 
}
#nav{
	width: 450px;
	height: 36px;
	/*background: yellow;*/
	margin-top: 20px;
	float: right;
}
#nav li{
	float: left;     /* 使列表横向排列 */
	width: 90px;
	height: 36px;
	line-height: 36px;
	text-align: center;		
}
#nav li a{
	color: #434343;
	display: block;
}
#nav li a:hover{
	color: #e06666;
	font-weight: bold;
}

/**********banner开始**********/
#banner{
	height: 453px;
	background: url(../img/banner01.jpg) no-repeat;
}

/**********banner结束**********/













